<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

<body class="layout"></body>
<link rel="stylesheet" type="text/css" href="/css/custom.css">
<header>Favorite Details</header>
<%= yield %>
<br><br><br><br><br><br>

<p><footer>MinedMinds-Chad Swatsworth</footer></p></layout>