table{
	border-style:solid;
	border-color:black;
	border-width:5px;

}

td{
	font-family: cursive;
	text-align: center;
	border:6px black;
	background-color: #eeeedd;
}

tr{ 
background-color: #DCDCDC


}

.layout{
	border-style: solid;
	border-color: white;
	border-style: double;
	border-width: 10px;
	padding: 10px;
 	background-color: #C43737;

}

.bgcss{
	font-size: 20px;
	font-family: fantasy;
	font-weight: bold;
}

input{
	font-size: 15px;
	font-family: fantasy;
	background-color: #eeeedd;
	/*#e6f2ff light blue*/
}

header{
	text-align: center;
	font-size: 30px;
	font-family: monospace;

}

footer{
text-align: center;
font-style: oblique;



}